.navbar {
	margin: 12px 0 12px 0;
	text-align: center;
}

.navbar li {
	display: inline;
	padding: 0 .7em 0 .7em;
}

#topnav {
	margin-bottom: 5em;
	background-color: #d93b62;
	text-transform: uppercase;
	color: white;
}

#midnav {
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
}

#midnav ul {
	margin-bottom: 0;
}

#main {
	background-color: gray;
	min-height: 500px;
}

.footlist {
	font-size: 7pt;
}

.footlist li {
	margin-bottom: 0;
}